<div class='container'>
  <h3><%=@customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
    <div class='row'>
     <div calss="col-md-12">
       <%= form_with model:@customer,url:admin_customer_path do |f| %>
 
 <div class="col-md-10">
 <div class="form-group col-md-9">
     <%= f.label "会員ID", class: "col-md-4 control-label" %>
     <%= f.label @customer.id %>
 </div>
 
  <div class="form-group col-md-9">
     <%= f.label "氏名", class: "col-md-4 control-label" %>
     <%= f.text_field :last_name, class: "col-md-3" %>
     <%= f.text_field :first_name, class: "col-md-3" %>
 </div>
 
  <div class="form-group col-md-9">
     <%= f.label "フリガナ", class: "col-md-4 control-label" %>
     <%= f.text_field :last_name_kana, class: "col-md-3" %>
     <%= f.text_field :first_name_kana, class: "col-md-3" %>
 </div>
 
 <div class="form-group col-md-9">
     <%= f.label "郵便番号", class: "col-md-4 control-label" %>
     <%= f.text_field :postcode, class: "col-md-3" %>
 </div>
 
  <div class="form-group col-md-9">
     <%= f.label "住所", class: "col-md-4 control-label" %>
     <%= f.text_field :address, class: "col-md-8" %>
  </div>
  
   <div class="form-group col-md-9">
     <%= f.label "電話番号", class: "col-md-4 control-label" %>
     <%= f.text_field :phone_number, class: "col-md-3" %>
   </div>
   
   <div class="form-group col-md-9">
     <%= f.label "メールアドレス", class: "col-md-4 control-label" %>
     <%= f.text_field :email, class: "col-md-5" %>
   </div>
     
     <div class="form-group col-md-9">
      <th><%= f.label :会員ステータス, class: "col-md-4 control-label" %></th>
      <td><%= f.select :is_customer_deleted, [["有効会員","false"], ["退会済み","true"]], class:"form-control" %></td>
     </div>
    <div>
     
 
 
  
    <%= f.submit "変更を保存",class:"btn btn-primary" %>
  <% end %>

    </div>
  </div>
</div>