<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
     <h3><%=@customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
<%= form_with model:@customer,url:admin_customer_path do |f| %>
 
 
 <div class="form-group">
     <%= f.label "会員id" %>
     <%= f.label @customer.id %>
 </div>
 
  <div class="form-group">
     <%= f.label "氏名" %>
     <%= f.text_field :last_name %>
     <%= f.text_field :first_name %>
 </div>
 
  <div class="form-group">
     <%= f.label "フリガナ" %>
     <%= f.text_field :last_name_kana %>
     <%= f.text_field :first_name_kana %>
 </div>
 
 <div class="form-group">
     <%= f.label "郵便番号" %>
     <%= f.text_field :postcode %>
 </div>
 
  <div class="form-group">
     <%= f.label "住所" %>
     <%= f.text_field :address %>
  </div>
  
   <div class="form-group">
     <%= f.label "電話番号" %>
     <%= f.text_field :phone_number %>
   </div>
   
   <div class="form-group">
     <%= f.label "メールアドレス" %>
     <%= f.text_field :email %>
   </div>
     
     <div class="form-group">
      <th><%= f.label :会員ステータス %></th>
      <td><%= f.select :is_customer_deleted, [["有効会員","false"], ["退会済み","true"]], class:"form-control" %></td>
    <div>
 
 
  
  
    <%= f.submit "変更を保存",class:"btn btn-primary" %>
  <% end %>

    </div>
  </div>
</div>