<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>ショッピングカート</h3>
      <div class="text-right">
        <%= link_to destroy_all_path, method: :delete do %>
		     <button class="btn btn-danger ">カートを空にする</button>
      <% end %>
    </div>
    <br>
     <table class="table-hover table-bordered col-md-12">
        <thead>
          <tr>
            <th class="col-md-5">商品名</th>
            <th class="col-md-2">単価(税込)</th>
            <th class="col-md-2">数量</th>
            <th class="col-md-1">小計</th>
            <th class="col-md-2"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= image_tag cart_item.item.image,size: "50x50" %><%= cart_item.item.name %></td>
              <td>￥<%= cart_item.item.price%></td>
              <td><%= form_for(cart_item, url: cart_item_path(cart_item)) do |c| %>
                <p>
                  <%= c.number_field :amount, min:1, max:100, step:1 %>
                  <%= c.submit "変更", class: "btn btn-success" %>
                </p>
                <% end %>
              </td>
              <td><%= cart_item.subtotal %></td>
              <td> <%= link_to cart_item_path(cart_item), method: :delete do %>
                     <button class="btn btn-danger">削除する</button>
                   <% end %>
              </td>
              <td class="col-md-1">
              <% @total_price += cart_item.subtotal %>
             <% end %>
          </tbody>
       </table>
      </div>
    </div>
    <div class="col-md-8">
      <span>
        <%= link_to "買い物を続ける", root_path, class: "btn btn-success" %>
      </span>
    </div>
     <div class="col-md-4">
      <table class="table table-bordered">
        <tr>
          <th>合計金額</th>
          <td>￥<%= @total_price %></td>
        </tr>
      </table>
    </div>
      <div class="text-center">
        <% if current_customer.cart_items.any? %>
          <%=link_to new_order_path do %>
            <button class="btn btn-md btn-primary">情報入力に進む</button>
          <% end %>
        <% end %>
      </div>
     </tbody>
  </table>
</div>         
        
        