<div class="container p-3">
  <div class="row p-3">
    <div class="col-12">
      <h1>注文情報確認</h1>
      <%= form_with model: @order, url: orders_path,local: true do |f| %>
    </div>
    <div class="col-8">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <td>商品名</td>
            <td>単価（税込）</td>
            <td>数量</td>
            <td>小計</td>
          </tr>
        </thead>
        <% @cart_items.each do |cart_item| %>
          <tbody>
            <tr>
              <td>
                <%= image_tag cart_item.item.get_item_image(50,50) %>
                <%= cart_item.item.name %>
              </td>
              <td>
                <%= cart_item.item.add_tax_price.to_s(:delimited) %>
              </td>
              <td>
                <%= cart_item.amount %>
              </td>
              <td>
                <%= (cart_item.item.add_tax_price * cart_item.amount).to_s(:delimited) %></td>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>



送料
商品合計
請求金額

支払方法

お届け先

注文を確定する
