<!DOCTYPE html>
<html>
  <head>
    <title>Nagano Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg" style="background-color: #DAC3B2;"><!--ヘッダーの色-->
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        

    
      <!--トップ画面へのルートと画像-->
        <%= link_to root_path("homes#top") do %>
        <%= image_tag 'rogo.png', size: '100x100', class: "img-fluid" %>
      <% end %>
      <!--ナビリストの右寄せ-->
          <%# if not request.fullpath.include? "admin" %>
              <!-- 顧客側ログイン-->
              <% if customer_signed_in? %>
              <span class="navbar-brand mb-0 h1">ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>さん！！</span>
              <li class= "mr-2">
                  <%= link_to customers_my_page_path, class: 'nav-link text-dark' do %>
                    <button type= "button" class= "text-nowrap btn btn-light btn-sm">マイページ</button>
                  <% end %>
              </li>
              <li class= "mr-2">
                  <%= link_to items_path, class: 'nav-link text-dark' do %>
                    <button type= "button" class= "text-nowrap btn btn-light btn-sm">商品一覧</button>
                  <% end %>
              </li>
              <li class= "mr-2">
                  <%= link_to cart_items_path, class: 'nav-link text-dark' do %>
                    <button type= "button" class= "text-nowrap btn btn-light btn-sm">カート</button>
                  <% end %>
              </li>
              <li class= "mr-2">
                  <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
                    <button type= "button" class= "text-nowrap btn btn-light btn-sm">ログアウト</button>
                  <% end %>
              </li>
              
              <% elsif admin_signed_in? %>
              <li class= "nav-item pl-3">
                <%= link_to admin_items_path, class: 'nav-link text-dark' do %>
                <button type= "button" class= "text-nowrap btn btn-light btn-sm">商品一覧</button>
                <% end %>
              </li>
              <li class= "nav-item pl-3">
                <%= link_to admin_path, class: 'text-nowrap nav-link text-dark' do %>
                <button type= "button" class= "btn btn-light btn-sm">注文履歴一覧</button>
                <% end %>
              </li>
              <li class= "nav-item pl-3">
                <%= link_to admin_genres_path, class: 'nav-link text-dark' do %>
                <button type= "button" class= "text-nowrap btn btn-light btn-sm">ジャンル一覧</button>
                <% end %>
              </li>
              <li class= "nav-item pl-3">
                <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                <button type= "button" class= "text-nowrap btn btn-light btn-sm">ログアウト</button>
                <% end %>
              </li>
            
            
              <% else %>
              <li class= "nav-item pl-3">
                <%= link_to about_path, class: 'nav-link text-dark' do %>
                <button type= "button" class= "text-nowrap btn btn-light btn-sm">About</button>
                <% end %>
              </li>
              <li class= "nav-item pl-3">
                <%= link_to items_path, class: 'nav-link text-dark' do %>
                <button type= "button" class= "text-nowrap btn btn-light btn-sm">商品一覧</button>
                <% end %>
              </li>
              <li class= "nav-item pl-3">
                <%= link_to new_customer_registration_path, class: 'nav-link text-dark' do %>
                <button type= "button" class= "text-nowrap btn btn-light btn-sm">新規登録</button>
                <% end %>
              </li>
              <li class= "nav-item pl-3">
                <%= link_to new_customer_session_path, class: 'nav-link text-dark' do %>
                <button type= "button" class= "text-nowrap btn btn-light btn-sm">ログイン</button>
                <% end %>
              </li>

              <% end %>  
            </ul>
           </div>
          <%# end %>

 
        <div class="search-box" style="margin: 10px;">
          <input type="text" class="form-control" placeholder="Search">
          <i class="fas fa-search" style="color:#fff;"></i>
        </div>

    </div>
    </nav>
  </header>

    <%= yield %>
      <!--<footer  class="navbar navbar-expand-lg" style="background-color:  #DAC3B2;">-->
      <!--  <div class="container mt-5">-->
      <!--  </div>-->
      <!--  <div class="row"></div>-->
        <!--<div class="mx-auto"></div>-->
      <!--</footer>-->
</body>
</html>
